:root {
    --color-black: #111111;
    --color-orange: #ff6a00;
    --color-red: #FF3B30;
    --color-light-gray: #fff7f7;
    --font-sm: 1.2rem;
    --font-lg: clamp(2.5rem, 5vw, 6rem);
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 4rem;
    --radius-md: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }